<div class="row">
  <div class="span8 well">
    <p><%= comment.body %></p>
    <p>
      <small>
        Posted on <strong><%= link_to comment.post.title %></strong> at <%= formatted_time(comment.created_at) %>
      </small>
    </p>
  </div>
</div>